.main-container {
    max-width: 400px;
    text-align: center;
    display: contents;
    justify-content: center;
}
.container {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 20px;
    font-size: 11px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type='email'],
  form input[type='password'] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .blue-button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  